html {
	background-color: rgba(13, 240, 252, 0.2);
	scroll-behavior: smooth;
}

body {
	margin: 0px;
}

.name {
	color: blue;
	background-color: lightgrey;
	border: 3px dashed;
	border-radius: 10px;
	border-color: black;
	text-align: center;
	margin: 10px;
	padding: 0px;
	width: 100%;
	transition: all 1s ease-in-out;
}

.name:hover {
	color: darkcyan;
	padding: 20px;
	transition: all 1s ease-in-out;
}

.foto {
	margin: 10px;
	border: blue solid 10px;
	border-radius: 10px;
}

nav {
	margin: 10px;
	background-color: rgba(94, 77, 255, 0.3);
	padding: 10px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 20px;
	transition: 1s ease-in-out;


}

nav:hover {
	background-color: rgba(132, 119, 255, 1);
	transition: 1s ease-in-out;
}

nav a {
	padding: 10px;
	transition: all 0.5s ease-in-out;
	border: black solid 1px;
	border-radius: 5px;
}

nav a:hover {
	padding: 20px;
	background-color: green;
	transition: all 0.5s ease-in-out;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


.box {
	 height: 100px; 
	 position: sticky; 
	 top: 0px;
}

@media screen and (max-width: 700px) {
	nav {
		flex-direction: column;
		width: 25%;
		position: fixed;
		height: 80%;
	}
	.box {
		position: fixed;
		top: 0px;
	}
	header, main{
		margin-left: 32%;
	}

	nav a {
		flex-basis: 20px;
	}
}

@media screen and (max-width: 700px) and (max-height:300px) {
	nav {
		display: none;

	}
	header, main{
		margin-left: 0px;
	}

}


main div {
	margin: 10px;
	padding: 5px;
	border: black solid 1px;
	border-radius: 5px;
}


footer {
	padding: 3px 10px 10px;
	background-color: lightgreen;
	text-align: center;
}
