body {
  margin: 0px;
  position: relative;
}

.card > p {
  margin: 0px;
}

nav {
  display: flex;
  width: 100%;
  height: 85px;
  flex-direction: row;
  justify-content: space-between;
}

.index > header {
  min-height: 467px;
  max-width: 1152px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.index > main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 39px 0px 0px;
  position: relative;
}

.details > header {
  padding: 0px 66px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.details > main {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer {
  margin-top: 111px;
  height: 79px;
}

.details > footer {
  margin-top: 62px;
}

.footer {
  margin-top: 27px;
  position: relative;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
}

/*navigation*/

.Title {
  position: relative;
  width: 102px;
  height: 24px;
  left: 83px;
  top: 36px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation {
  position: relative;
  width: 298px;
  height: 24px;
  right: 77px;
  top: 34px;
  justify-content: flex-end;
}

.icon-search {
  cursor: pointer;
  position: relative;
  top: 4px;
  right: 5px;
}

.search_input {
  width: 100px;
  margin-right: 80px;
  border: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #718096;
}

.search {
  position: relative;
  top: 31px;
  left: 120px;
}

.Title_link1 {
  position: absolute;
  left: 4px;
  top: 12.5%;
  bottom: 8.33%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.Title_link2 {
  position: absolute;
  left: 79px;
  top: 12.5%;
  bottom: 8.33%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.icon {
  margin-top: 2px;
  width: 20px;
  height: 20px;
  stroke-width: 0;
  stroke: currentColor;
  fill: grey;
}

.icon-instagram {
  position: absolute;
  right: 111px;
}
.icon-twitter {
  position: absolute;
  right: 57px;
}

.icon-linkedin {
  position: absolute;
  right: 1px;
}


.icon:hover {
  fill: black;
}

/*main*/

.main_text_coffe {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  margin: 0px;
}

.main_text_quest {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 0px;

  position: relative;
  top: 18px;

  color: #4A5568;
}

.coffee_cup {
  position: absolute;
  left: 193px;
  top: 61px;
}

@media screen and (min-width: 1796px) {

  .coffee_cup {
    left: 313px;
  }
}

.main_text {
  min-width: 305px;
  width: 31vw;
  position: relative;
  left: 52px;
  bottom: 12px;
  margin: 30px 0px;
}

/*main*/

.card {
  position: relative;
  margin: 41px 7px 0px 25px;
  border: 1px solid black;
  width: 300px;
  height: 382px;

  box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
  border-radius: 5px;
}

.card > a {
  text-decoration: none;
}

.main_word {
  position: absolute;
  left: 5.33%;
  right: 13%;
  top: 51.57%;
  bottom: 42.15%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #2D3748;
}

.card_text {
  position: absolute;
  left: 5.67%;
  right: 8.33%;
  top: 61.78%;
  bottom: 15.97%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #718096;
}

.date {
  position: absolute;
  left: 5.33%;
  right: 64%;
  top: 89.79%;
  bottom: 6.28%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #718096;
}

.more_link {
  position: absolute;
  left: 71%;
  right: 8%;
  top: 89.79%;
  bottom: 6.28%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #2D3748;
}

.first_card {
  margin: 0px 0px 0px 15px;
  width: 966px;
  height: 243px;

  border: 1px solid #E2E2E2;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 5px;
}

.first_foto {
  position: absolute;
  right: 0px;
}

.first_card > .main_word {
  position: absolute;
  left: 5.62%;
  right: 68.89%;
  top: 16.87%;
  bottom: 68.31%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  color: #2D3748;
}

.first_card > .card_text {
  position: absolute;
  left: 5.41%;
  right: 52.86%;
  top: 42.8%;
  bottom: 36.21%;
}

.first_card > .date {
  position: absolute;
  left: 5.62%;
  right: 84.81%;
  top: 76.13%;
  bottom: 17.7%;
}

.first_card > .more_link {
  position: absolute;
  left: 40.58%;
  right: 52.86%;
  top: 76.13%;
  bottom: 17.7%;
}

.fith_card {
  margin-top: 39px;
  position: relative;
  width: 965px;
  height: 500px;
  background: #F7FAFC;
}

.last_foto {
  position: absolute;
  right: 0px;
}

.fith_card > .main_word {
  position: absolute;
  left: 6.53%;
  right: 61.55%;
  top: 19.6%;
  bottom: 61.2%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #000000;
}

.fith_card > .card_text {
  position: absolute;
  left: 6.53%;
  right: 61.24%;
  top: 43.6%;
  bottom: 33.6%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #718096;
}

.fith_card > .date {
  position: absolute;
  left: 6.53%;
  right: 87.56%;
  top: 72.6%;
  bottom: 23.6%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #4A5568;
}

.fith_card > .more_link {
  position: absolute;
  left: 30.16%;
  right: 61.14%;
  top: 72.6%;
  bottom: 23.6%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

@media screen and ((max-width: 1018px) or (min-width: 1333px)) {

  .first_foto > img, .last_foto > img {
    width: 300px;
    height: 179px;
  }

  .first_card, .fith_card {
    position: relative;
    margin: 38px 7px 0px 25px;
    border: 1px solid black;
    min-width: 300px;
    width: 300px;
    height: 382px;

    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;

    background: #FFF;
  }

  .first_card > .main_word, .fith_card > .main_word {
    position: absolute;
    left: 5.33%;
    right: 13%;
    top: 51.57%;
    bottom: 42.15%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #2D3748;
  }

  .first_card > .card_text, .fith_card > .card_text {
    position: absolute;
    left: 5.67%;
    right: 8.33%;
    top: 61.78%;
    bottom: 15.97%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #718096;
  }

  .first_card > .date, .fith_card > .date {
    position: absolute;
    left: 5.33%;
    right: 64%;
    top: 89.79%;
    bottom: 6.28%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #718096;
  }

  .first_card > .more_link, .fith_card > .more_link {
    position: absolute;
    left: 71%;
    right: 8%;
    top: 89.79%;
    bottom: 6.28%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    color: #2D3748;
  }
}

.see_more {
  padding-right: 22px;
  position: absolute;
  right: 75px;
  bottom: -69px;
  width: 122px;
  height: 37px;
  transition: 0.6s;
  border: 0px;

  background: #6B46C1;
  border-radius: 5px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #FFFFFF;

  cursor: pointer;
}

.see_more:hover {
  transition: 0.6s;
  background: #2B47FC;
  color: white;
}

.see_more:active {
  transition: 0.1s;
  background: blue;
  color: white;
}

.see_more > span {
  position: relative;
  right: 6px;
}

.icon-arrow-circle-down {
  position: absolute;
  width: 20px;
  height: 20px;
  fill: white;
}


.footer_icon {
  position: relative;
  width: 298px;
  height: 24px;
  right: 81px;
}

.End_Title {
  position: relative;
  left: 89px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (max-width: 850px) {
  .Title {
    display: none;
  }

  .search {
    left: 30px;
  }

  .navigation {
    right: 30px;
  }

  .End_Title {
    left: 20px;
  }
}

/*Page details*/

.main_foto {
  width: 84.5vw;
  position: relative;
  top: 15px;
  left: 4px;
}

.heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;

  color: #2D3748;
  margin: 56px 0px 0px;
  position: relative;
  right: 64px;
}

.autor {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  color: #2D3748;
  margin: 12px 0px 0px 122px;
  align-self: self-start;
}

.date_details {
  font-weight: 400;
  color: #718096;

  position: relative;
  left: 25px;
}

.detail_text > hr {
  margin: 31px 0px 35px;
}

.detail_text {
  margin: 0px 12px 0px 18px;

  max-width: 765px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #718096;
}

.heading1 {
  font-family: Inter;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

  color: #2D3748;
}

.heading2 {
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;

  color: #2D3748;

  margin: 2px 0px 15px;
}

.icon-arrow-up {
  position: relative;
  left: 3px;
  top: 2px;

  color: white;
  width: 23px;
  height: 16px;
  stroke-width: 0;
}

.upper {
  padding-right: 22px;
  position: absolute;
  height: 41.6px;
  width: 41.6px;
  right: 62px;
  bottom: 16px;
  border-radius: 50%;
  transition: 0.6s;
  border: 0px;

  background: #6B46C1;

  cursor: pointer;

  fill: white;
}

.upper:hover {
  transition: 0.6s;
  background: #2B47FC;
}

.upper:active {
  transition: 0.1s;
  background: blue;
}

@media screen and (max-width: 940px) {
  .upper {
    bottom: -40px;
  }
}

@media screen and (max-width: 480px) {
  .search, .Title_link1, .Title_link2, .End_Title, .heading, .autor {
    display: none;
  }
}